﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=devie-width"/>
    <title>Square</title>
</head>
    <body>
        <h1>Калькулятор площади сектора кольца</h1>
        <div>

            <figure>
                <img src="https://infofaq.ru/wp-content/uploads/2016/10/ploshad_kolca1.png" alt="Площадь сектора кольца" />
                <img src="https://infofaq.ru/wp-content/uploads/2016/10/ploshad_kolca2.png" alt="формула" />
            </figure>
            <form action ="" method="post">
                <input type="number" name="OutR" placeholder="Внешний радус, у.е" value=""/>
                <input type="number" name="InR" placeholder="Внутренний радиус, у.е" value="" />
                <input type="number" name="a" placeholder="Угол сектора, у.е" value="" />
                <button>Считать</button>

                <p>


                    <h1>
                        Площадь кольца: @ViewBag.Result y.e


                    </h1>
                </p>


                        
             </form>


        </div>

    </body>
</html>
